<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.14" newVersion="17.3460.0.14" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfRichTextBoxAdv.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.14" newVersion="17.3460.0.14" />
      </dependentAssembly>
	<dependentAssembly>
        <assemblyIdentity name="CefSharp.Common" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-131.3.50.0" newVersion="131.3.50.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>